In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Read the data

In [2]:
df = pd.read_json("supplier_car.json", lines=True)
df.head()

,ID,MakeText,TypeName,TypeNameFull,ModelText,ModelTypeText,Attribute Names,Attribute Values,entity_id
0,976,MERCEDES-BENZ,McLaren,MERCEDES-BENZ SLR McLaren,SLR,SLR McLaren,Seats,2,0001fda6-192b-46a8-bc08-0e833f904eed
1,1059,MERCEDES-BENZ,ML 350 Inspiration,MERCEDES-BENZ ML 350 Inspiration,ML 350,ML 350 Inspiration,Hp,235,00107c2d-0071-4475-88f0-810133638b7e
2,524,AUDI,S6 Avant quattro 4.2,AUDI S6 Avant quattro 4.2,S6,S6 Avant quattro 4.2,FuelTypeText,Benzin,00126794-a8ef-48fe-93d6-43cfc69fbfb6
3,608,SAAB,9-3 2.0i-16 TS Aero,SAAB 9-3 2.0i-16 TS Aero,9-3,9-3 2.0i-16 TS Aero,Ccm,1985,00182529-1bf7-4f93-89fa-2e8e634b2c9d
4,726,PORSCHE,911 Turbo Cabrio,PORSCHE 911 Turbo Cabrio,911,911 Turbo Cabrio,BodyColorText,schwarz mét.,002d30c2-43f6-4905-868f-160dbc445c56

## Check data shape

In [3]:
df.shape

(21906, 9)

## Check info of data frame

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21906 entries, 0 to 21905
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                21906 non-null  int64
 1   MakeText          21906 non-null  object
 2   TypeName          21906 non-null  object
 3   TypeNameFull      21906 non-null  object
 4   ModelText         20957 non-null  object
 5   ModelTypeText     21906 non-null  object
 6   Attribute Names   21906 non-null  object
 7   Attribute Values  21906 non-null  object
 8   entity_id         21906 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.5+ MB

From the above we can see that "ModelText" column has null values.

# Pre-processing Step

From the dataframe it is clear that in order to achieve the same granularity as the target data we need to convert the values in "Attribute Names" column into row value along with its "Attribute Values". We also have to keep in mind that the other column must not be changed.

The data format in desired formed could be achieved easily with the help of set_index and unstack function available in pandas.

## Changing dataframe shape

Changing the dataframe to required format.

In [5]:
index = ['MakeText', "TypeName", "ModelText", "Attribute Names"]
df = df.set_index(index, append=True)["Attribute Values"].unstack().reset_index().rename_axis(columns = None)
df

,level_0,MakeText,TypeName,ModelText,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,DriveTypeText,FirstRegMonth,FirstRegYear,FuelTypeText,Hp,InteriorColorText,Km,Properties,Seats,TransmissionTypeText
0,0,MERCEDES-BENZ,McLaren,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
1,1,MERCEDES-BENZ,ML 350 Inspiration,ML 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235,NaN,NaN,NaN,NaN,NaN
2,2,AUDI,S6 Avant quattro 4.2,S6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Benzin,NaN,NaN,NaN,NaN,NaN,NaN
3,3,SAAB,9-3 2.0i-16 TS Aero,9-3,NaN,NaN,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,PORSCHE,911 Turbo Cabrio,911,schwarz mét.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21901,21901,MERCEDES-BENZ,730PS,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21902,21902,LAND ROVER,Range Rover 3.6 d HSE,RANGE ROVER,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21903,21903,MERCEDES-BENZ,CLK 55 AMG Avantgarde,CLK 55 AMG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
21904,21904,BMW,Turbo,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hinterradantrieb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21905,21905,SMART,Fortwo passion,FORTWO,NaN,NaN,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The use of pivot_table will reduce the data. But as mentioned in step 3 the number of records are kept as unchanged. Thus all values in rows which do not have corresponding values to MakeText and TypeName will become NaN values.

df_pt = pd.pivot_table(df, index=['MakeText', "TypeName", "ModelText"], columns='Attribute Names',
                         values='Attribute Values',fill_value = '', aggfunc= aggfunc).reset_index().rename_axis(columns = None)
       
aggfunc = lambda x: x      
aggfunc = lambda x: ''.join(str(v) for v in x)       
       
With the help of pivot table we could get the same granuality as the target data but number of records will change thus the above command is not used.

Note that here we have taken the columns that are required for futher analysis. The columns namely "TypeNameFull",
"ModelTypeText" are not present in the dataframe as they are not desired as per the target dataframe.

## Splitting column

The column "ConsumptionTotalText" must be split into two parts namely "mileage" and "mileage_unit" in order to maintain the similarity with the target dataset.

In [6]:
df[['mileage','mileage_unit']] = df.ConsumptionTotalText.str.split('l/100',expand=True,)
df

,level_0,MakeText,TypeName,ModelText,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,DriveTypeText,FirstRegMonth,FirstRegYear,FuelTypeText,Hp,InteriorColorText,Km,Properties,Seats,TransmissionTypeText,mileage,mileage_unit
0,0,MERCEDES-BENZ,McLaren,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
1,1,MERCEDES-BENZ,ML 350 Inspiration,ML 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AUDI,S6 Avant quattro 4.2,S6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Benzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,SAAB,9-3 2.0i-16 TS Aero,9-3,NaN,NaN,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,PORSCHE,911 Turbo Cabrio,911,schwarz mét.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21901,21901,MERCEDES-BENZ,730PS,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21902,21902,LAND ROVER,Range Rover 3.6 d HSE,RANGE ROVER,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21903,21903,MERCEDES-BENZ,CLK 55 AMG Avantgarde,CLK 55 AMG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
21904,21904,BMW,Turbo,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hinterradantrieb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21905,21905,SMART,Fortwo passion,FORTWO,NaN,NaN,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Normalisation Step

After comparing with the target data, the following columns are needed to be normalized:
1. <b>mileage_unit:</b> 
        a. "km" needs to be converted into "kilometer".
2. <b>BodyTypeText:</b>
        a. As per the target data all values need to be translated into english.
3. <b>BodyColorText:</b>
        a. Colors are given in german language which are to be translated into corresponding english language.
        b. The color names must be in title case.
4. <b>MakeText:</b>
        a. Apart from cars name in abbreviation other values need to be in title case.
5. <b>FirstRegMonth:</b>
        a. Manufacturing month has a value of 0, which is not possible as we have months from 1 to 12.
        b. We can replace 0 month with most popular month.
    
6. Apart from above mentioned all the null values must be converted into np.nan

## Replacing values by NaN

From the above we see that there are multiple columns that need their values to be replaced as NaN and kilometer value. So let us first do that.

In [7]:
cols = ["ModelText", "BodyColorText", "BodyTypeText", "ConditionTypeText", "FirstRegMonth",
       "FirstRegYear", "mileage", "City", "mileage_unit"]
df[cols] = df[cols].replace({
                                  "km":"kilometer",
                                   None:np.nan,
                                    "0" : "4",
                                })

## Changing cases

In [8]:
df

,level_0,MakeText,TypeName,ModelText,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,DriveTypeText,FirstRegMonth,FirstRegYear,FuelTypeText,Hp,InteriorColorText,Km,Properties,Seats,TransmissionTypeText,mileage,mileage_unit
0,0,MERCEDES-BENZ,McLaren,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
1,1,MERCEDES-BENZ,ML 350 Inspiration,ML 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AUDI,S6 Avant quattro 4.2,S6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Benzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,SAAB,9-3 2.0i-16 TS Aero,9-3,NaN,NaN,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,PORSCHE,911 Turbo Cabrio,911,schwarz mét.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21901,21901,MERCEDES-BENZ,730PS,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21902,21902,LAND ROVER,Range Rover 3.6 d HSE,RANGE ROVER,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21903,21903,MERCEDES-BENZ,CLK 55 AMG Avantgarde,CLK 55 AMG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
21904,21904,BMW,Turbo,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hinterradantrieb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21905,21905,SMART,Fortwo passion,FORTWO,NaN,NaN,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def case(df, col):
    
    """
    Take colums of the dataframe and return values of column in desired output.
    """
    
    col_name = []
    for x in df[col]:
        if len(x) <= 3:
            x = x.upper()
            col_name.append(x)
        else:
            x = x.title()
            col_name.append(x)
    df[col] = col_name
    return df

In [10]:
case(df, "MakeText")

,level_0,MakeText,TypeName,ModelText,BodyColorText,BodyTypeText,Ccm,City,Co2EmissionText,ConditionTypeText,ConsumptionRatingText,ConsumptionTotalText,Doors,DriveTypeText,FirstRegMonth,FirstRegYear,FuelTypeText,Hp,InteriorColorText,Km,Properties,Seats,TransmissionTypeText,mileage,mileage_unit
0,0,Mercedes-Benz,McLaren,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
1,1,Mercedes-Benz,ML 350 Inspiration,ML 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Audi,S6 Avant quattro 4.2,S6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Benzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Saab,9-3 2.0i-16 TS Aero,9-3,NaN,NaN,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Porsche,911 Turbo Cabrio,911,schwarz mét.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21901,21901,Mercedes-Benz,730PS,SLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21902,21902,Land Rover,Range Rover 3.6 d HSE,RANGE ROVER,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21903,21903,Mercedes-Benz,CLK 55 AMG Avantgarde,CLK 55 AMG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
21904,21904,BMW,Turbo,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hinterradantrieb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21905,21905,Smart,Fortwo passion,FORTWO,NaN,NaN,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df["BodyColorText"] = df["BodyColorText"].fillna('No Value').apply(lambda x :x.title()).replace('No Value',np.nan)

## Translating language

from googletrans import Translator
df['translated_value'] = df['BodyColorText'].apply(lambda x: translator.translate(x, dest='en').text)

# Integration Step

## Checking columns present in dataframe

In [12]:
df.columns

Index(['level_0', 'MakeText', 'TypeName', 'ModelText', 'BodyColorText',
       'BodyTypeText', 'Ccm', 'City', 'Co2EmissionText', 'ConditionTypeText',
       'ConsumptionRatingText', 'ConsumptionTotalText', 'Doors',
       'DriveTypeText', 'FirstRegMonth', 'FirstRegYear', 'FuelTypeText', 'Hp',
       'InteriorColorText', 'Km', 'Properties', 'Seats',
       'TransmissionTypeText', 'mileage', 'mileage_unit'],
      dtype='object')

Most of the columns that are present in dataset are not present in target dataset. So they need to be deleted. Also the column name in both dataframe are mismatched. So we need to rename the columns.

## Dropping the columns

In [13]:
df.drop(['level_0','Ccm', 'Co2EmissionText','ConsumptionRatingText','Doors','DriveTypeText',
             'FuelTypeText', 'Hp', 'InteriorColorText', 'Km','Properties', 'Seats', 'TransmissionTypeText',
           'ConsumptionTotalText'],
             axis = 1, inplace = True)

## Renaming the columns

In [14]:
df.rename(columns = {
'BodyTypeText'              : 'carType',
'BodyColorText'             : "color",
'ConditionTypeText'         : 'condition',
'City'                      : "city",
"MakeText"                  : "make",
'FirstRegYear'              : 'manufacture_year',
'ModelText'                 : 'model_variant',
'TypeName'                  : 'model',
'FirstRegMonth'             : 'manufacture_month'

    }, inplace = True)

## Arranging the column sequence

Now we need to arrange the available columns in the same sequence as in the target data.

Create the list in which we have to arrange our column as per the target data.

In [15]:
seq_list = ['carType', 'color','condition', 'city', 'make', 'manufacture_year', 'mileage', 'mileage_unit', 
            'model', 'model_variant', 'manufacture_month']

In [16]:
def set_column_sequence(dataframe, seq, seq_front=True):
    '''Takes a dataframe and a subsequence of its columns,
       returns dataframe with seq as first columns.
    '''
    cols = seq[:] # copy so we don't mutate seq
    for x in dataframe.columns:
        if x not in cols:
            if seq_front: #we want "seq" to be in the front
                #so append current column to the end of the list
                cols.append(x)
    return dataframe[cols]

In [17]:
df = set_column_sequence(df, seq_list)

In [18]:
df

,carType,color,condition,city,make,manufacture_year,mileage,mileage_unit,model,model_variant,manufacture_month
0,NaN,NaN,NaN,NaN,Mercedes-Benz,NaN,NaN,NaN,McLaren,SLR,NaN
1,NaN,NaN,NaN,NaN,Mercedes-Benz,NaN,NaN,NaN,ML 350 Inspiration,ML 350,NaN
2,NaN,NaN,NaN,NaN,Audi,NaN,NaN,NaN,S6 Avant quattro 4.2,S6,NaN
3,NaN,NaN,NaN,NaN,Saab,NaN,NaN,NaN,9-3 2.0i-16 TS Aero,9-3,NaN
4,NaN,Schwarz Mét.,NaN,NaN,Porsche,NaN,NaN,NaN,911 Turbo Cabrio,911,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21901,NaN,NaN,NaN,NaN,Mercedes-Benz,NaN,NaN,NaN,730PS,SLR,6
21902,NaN,NaN,NaN,NaN,Land Rover,NaN,NaN,NaN,Range Rover 3.6 d HSE,RANGE ROVER,NaN
21903,NaN,NaN,NaN,NaN,Mercedes-Benz,NaN,NaN,NaN,CLK 55 AMG Avantgarde,CLK 55 AMG,NaN
21904,NaN,NaN,NaN,NaN,BMW,NaN,NaN,NaN,Turbo,2002,NaN
21905,NaN,NaN,NaN,NaN,Smart,NaN,NaN,NaN,Fortwo passion,FORTWO,NaN

In [19]:
df["manufacture_year"] = df.manufacture_year.astype(float)
df["manufacture_month"] = df.manufacture_month.astype(float)
df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21906 entries, 0 to 21905
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   carType            1152 non-null   object
 1   color              1153 non-null   object
 2   condition          1153 non-null   object
 3   city               1153 non-null   object
 4   make               21906 non-null  object
 5   manufacture_year   1153 non-null   float64
 6   mileage            850 non-null    float64
 7   mileage_unit       850 non-null    object
 8   model              21906 non-null  object
 9   model_variant      20957 non-null  object
 10  manufacture_month  1153 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.8+ MB

Now the structure of dataframe matches the target dataframe. But we can see many values are null in nature. This means that data is incomplete for many model and model_variant rows.